@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    
    <div class="container mt-4">
       
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">MVC Basics Assignment 1</h5>
                        <p class="card-text">Views and Controllers</p>
                        <a href="https://github.com/Kent-Poli/MVC-Basics-Assignment-1---Views-and-Controllers" class="btn btn-primary" target="_blank">GitHub Link</a>
                    </div>
                </div>
            </div>
          
        
    </div>
</div>
